<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log"
      internalLogToConsoleError="true"
      throwExceptions="true">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
                archiveAboveSize="5242880"
                archiveNumbering="Sequence"
                maxArchiveFiles="10"
                archiveEvery="Day"
                concurrentWrites="true"
                keepFileOpen="false"
                layout="
==> date: ${longdate}${newline}
==> level: ${level:upperCase=true}${newline}
==> customer: ${environment:variable=INDUSOFT_CUSTOMER}${newline}
==> environment: ${environment:variable=INDUSOFT_ENVIRONMENT}${newline}
==> application: ${appdomain:format={1\}}${newline}
==> version: ${assembly-version}${newline}
==> machinename: ${machinename}${newline}
==> local-ip: ${local-ip}${newline}
==> user-name: ${aspnet-user-identity}${newline}
==> logger: ${logger}${newline}
==> callsec: ${aspnet-request-headers:HeaderNames=i-callsec:ValuesOnly=true}${newline}
==> callsec-id: ${aspnet-item:variable=i-callsec-id}${newline}
==> request-url: ${aspnet-request-url:IncludeHost=true:IncludeScheme=true:IncludeQueryString=true:IncludePort=true}${newline}
==> request-referrer: ${aspnet-request-referrer}${newline}
==> request-ip: ${aspnet-request-ip}${newline}
==> request-method: ${aspnet-request-method}${newline}
==> request-user-agent: ${aspnet-request-useragent}${newline}
==> request-headers: ${aspnet-request-headers:itemSeparator=${newline}}${newline}
==> request-cookie: ${aspnet-request-cookie}${newline}
==> request-form: ${aspnet-item:variable=CONTEXT_REQUEST_FORM}${newline}
==> request-body: ${aspnet-item:variable=CONTEXT_REQUEST_BODY}${newline}
==> response-statuscode: ${aspnet-item:variable=CONTEXT_RESPONSE_STATUSCODE}${newline}
==> message: ${message}${newline}
==> exception: ${onexception:inner=${exception:format=ToString}}${newline}"/>
        <target name="ColoredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:inner=${exception:format=ToString,StackTrace}}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Warning" writeTo="File"/>
        <logger name="*" minlevel="Debug" writeTo="ColoredConsole"/>
        <!--Show http requests info with duration-->
        <!--<logger name="Microsoft.AspNetCore.*" levels="Info" writeTo="File" />-->
        <!--Show EntityFramework queries with duration-->
        <logger name="Microsoft.EntityFrameworkCore.*" levels="Info" writeTo="File"/>
    </rules>
</nlog>